html {
    scroll-behavior: smooth;
}

.intro-text {
        font-size: 120px;
        font-family: cheddar-gothic-rough, sans-serif;
        color:rgb(213, 208, 208);
        letter-spacing: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
}

h3 {
    font-size: 120px;
    font-family: cheddar-gothic-rough, sans-serif;
    color: rgb(213, 208, 208);
    letter-spacing: 5px;
}
/* h1 {
    font-size: 120px;
    font-family: cheddar-gothic-rough, sans-serif;
    color:rgb(213, 208, 208);
    letter-spacing: 5px;
} */

h2 {
    text-align: left;
    font-family: cheddar-gothic-rough, sans-serif;
    color:rgb(213, 208, 208);
    letter-spacing: 5px;
}

.nav-hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    gap: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
}

#intro-header {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(20, 20, 19);
    height: 100vh;  
    overflow: hidden;

}

.container {
    width: 90%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgb(20, 20, 19);
    overflow-y: auto;
    border-radius: 1%;
    border: 2px solid rgb(213, 208, 208);

}

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 20px;
    justify-content: center;
}

.project-item {
    background-color: lightskyblue;
    border: 3px solid black;
    width: 100%;
    max-width: 900%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}   
